#header {
  width: 100%;
  background: linear-gradient(to right, rgb(156, 56, 34), black);
  color: blanchedalmond;
  padding: 35px;
  text-align: left;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
}
